.logout-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
}

.logout-page>p {
    font-size: 20px;
    padding: 1vmax;
    color: grey;
}