.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90dvh;
    background-color: #f5f5f5;
}

.profile-inner {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}